.navbar{
    color: white;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

@keyframes text {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }

.link {
  transition: 0.5s;
  border: rgba(255, 255, 255, 0) solid 1px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.329);
        border: rgba(255, 255, 255, 0.250) solid 1px;
    }
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
