<main class="homepage container flex flex-col mx-auto">
    <!--First homepage element-->
    <div class="mt-12 px-6 py-8 h-screen mx-auto">
            <div class="bg-slate-50/10 rounded-3xl h-fit mt-12 px-6 py-8 shadow-md backdrop-blur-sm sm:w-10/12 md:w-5/12 mx-auto">
            <img class="h-32 mx-auto rounded-full logo" src="../../../assets/img/picolorLogo.svg" alt="Picolor">
            <p class="flex text-center text-wrap py-4 px-8">
            If you want to discover the magic of colors, you've come to the right place, start your journey with Picolor today! 
            Click the button below and get started now!
            </p>
            <button type="button" class="bg-white/25 shadow-sm border border-white/25 rounded-full px-4 py-2 flex mx-auto hover:bg-white/45">Start now</button>
        </div>
    </div>
    <!--Second homepage element-->
    <div class="mt-12 px-8 py-8 h-screen mx-auto flex justify-between items-center">
        <!--Text element-->
        <div class="bg-slate-50/10 rounded-3xl h-fit mt-12 px-6 py-8 shadow-md backdrop-blur-sm sm:w-10/12 md:w-5/12">
            <h3 class="py-2 text-center text-2xl">What exacly is 
                <b class="bg-gradient-to-r from-pink-200 via-pink-100 to-pink-300 text-transparent bg-clip-text">Picolor</b> ?
            </h3>
            <p class="flex text-justify indent-8 text-wrap py-4 px-8">
                Dive into a world of boundless creativity with Picolor – your ultimate companion for all things color-related.
                Whether you're seeking to generate stunning gradients, discover inspiring color palettes, or simply decode the
                hues around you, Picolor empowers you to unleash your imagination with its intuitive features, that you can use
                completely for free and pastel-infused style.
            </p>
        </div>
        <!--Image element-->
        <div class="bg-slate-50/10 rounded-3xl h-fit mt-12 px-6 py-8 shadow-md backdrop-blur-sm sm:w-10/12 md:w-5/12">
            <img class="rounded-3xl img-fluid py-2" src="../../../assets/img/mockupImage.png" alt="Default pages">
        </div>
    </div>
    <!--Third homepage element-->
    <div class="mt-12 px-6 py-8 h-screen flex items-center">
        <div class="bg-slate-50/10 rounded-3xl mt-12 px-6 py-8 h-fit shadow-md backdrop-blur-sm sm:w-10/12 md:w-5/12 mx-auto">
            <h3 class="text-center text-2xl mx-auto">Functionality</h3>
            <ol class="py-4 px-8 list-decimal">
               <li>Generate color palettes</li>
               <li>Get color code</li>
               <li>Get color from image</li>
            </ol>
        </div>    
    </div>
</main>