.homepage{
    color: white;
}

.logo{
   animation: moveUpDown 3s infinite;
   transition: box-shadow 0.3s ease-in-out; /* Smooth transition for box-shadow */
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0); /* Start and end position */
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    50% {
      transform: translateY(-20px); /* Middle position */
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
    }
    100% {
        transform: translateY(0); /* Start and end position */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      }
  }