<main class="homepage container flex flex-col mx-auto">
    <!--First homepage element-->
    <div class="mt-12 px-20 py-8 h-screen mx-auto">
        <div class="bg-slate-50/10 rounded-3xl h-fit mt-12 flex flex-col justify-center px-6 py-8 shadow-md backdrop-blur-sm xs:w-12/12 sm:w-10/12 md:w-8/12 lg:w-5/12 mx-auto">
            <img class="h-32 mx-auto rounded-full logo" src="../../../assets/img/picolorLogo.svg" alt="Picolor">
            <p class="flex text-center text-wrap py-4 px-8">
            If you want to discover the magic of colors, you've come to the right place, start your journey with Picolor today! 
            Click the button below and get started now!
            </p>
            <button type="button" class="bg-white/25 shadow-sm border border-white/25 rounded-full px-4 py-2 flex mx-auto hover:bg-white/45 duration-500">Start now</button>
        </div>
    </div>
    <!--Second homepage element-->
    <div class="mt-12 px-20 py-8 h-full mx-auto flex flex-wrap justify-center items-center lg:justify-between lg:h-screen">
        <!--Text Container-->
        <div class="w-full lg:w-5/12 h-screen lg:h-full flex justify-center items-center">
            <!--Text element-->
            <div class="bg-slate-50/10 rounded-3xl w-full h-3/5 px-6 py-8 shadow-md backdrop-blur-sm flex justify-center items-center xs:w-12/12 sm:w-10/12 md:w-8/12 lg:w-full">
                <div>
                    <h3 class="py-2 text-center text-2xl">What exactly is 
                        <b class="bg-gradient-to-r from-pink-200 via-pink-100 to-pink-300 text-transparent bg-clip-text">Picolor</b> ?
                    </h3>
                    <span class="flex text-justify indent-8 text-wrap py-4 px-8">
                        Dive into a world of boundless creativity with Picolor – your ultimate companion for all things color-related.
                        Whether you're seeking to generate stunning gradients, discover inspiring color palettes, or simply decode the
                        hues around you, Picolor empowers you to unleash your imagination with its intuitive features, that you can use
                        completely for free and pastel-infused style.
                    </span>
                </div>
            </div>
        </div>
        <!--Image Container-->
        <div class="w-full lg:w-5/12 h-screen lg:h-full flex justify-center items-center">
            <!--Image element-->
            <div class="bg-slate-50/10 rounded-3xl w-full h-3/5 px-6 py-8 shadow-md backdrop-blur-sm flex justify-center items-center xs:w-12/12 sm:w-10/12 md:w-8/12 lg:w-full">
                <img class="rounded-3xl h-full w-fit mx-auto my-auto" src="../../../assets/img/mockupImage.png" alt="Default pages">
            </div>
        </div>
    </div>
    <!--Third homepage element-->
    <div class="mt-12 px-20 py-8 h-screen flex items-center">
        <div class="bg-slate-50/10 rounded-3xl mt-12 px-6 py-8 h-fit shadow-md backdrop-blur-sm xs:w-12/12 sm:w-10/12 md:w-8/12 lg:w-5/12 mx-auto">
            <h3 class="text-center text-3xl mx-auto">Functionality</h3>
            <div class="py-4 px-8 mx-auto">
                <div class="flex items-center rounded-full bg-white/25 shadow-md my-3 mx-2 px-4 py-2">
                    <div class="rounded-full text-center pt-0.5 px-4 bg-white/50 w-9 h-9 flex justify-center items-center">1</div>
                    <div class="px-1 py-1 ms-2">
                        <h5 class="text-md">Generate color palettes</h5>
                        <span class="text-xs">Generate random color palettes or choose a base color to create.</span>
                    </div>
                </div>
                <div class="flex items-center rounded-full bg-white/25 shadow-md my-3 mx-2 px-4 py-2">
                    <div class="rounded-full text-center pt-0.5 px-4 bg-white/50 w-9 h-9 flex justify-center items-center">2</div>
                    <div class="px-1 py-1 ms-2">
                        <h5 class="text-md">Get color code</h5>
                        <span class="text-xs">Download whatever color code you want from our color palette.</span>
                    </div>
                </div>
                <div class="flex items-center rounded-full bg-white/25 shadow-md my-3 mx-2 px-4 py-2">
                    <div class="rounded-full text-center pt-0.5 px-4 bg-white/50 w-9 h-9 flex justify-center items-center">3</div>
                    <div class="px-1 py-1 ms-2">
                        <h5 class="text-md">Get color from image</h5>
                        <span class="text-xs">Find color you are looking for in the image and download code.</span>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</main>