@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
	font-family: Sora, Tahoma, Geneva, Verdana, sans-serif;
	background: linear-gradient(-45deg, #abdada, #ed66d2, #2ee7d5, #e6b1e6);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}